div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    cursor: pointer;
    max-width: 350px;
  }

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 250px;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

body{
  color: white;
  background-color: black;
}

img{
  image-rendering: -webkit-optimize-contrast;
}

.paginationjs-pages {
  float: left;
  position: absolute;
  top: -53px;
  left: 314px;
  pointer-events: auto;
}
.paginationjs{
  position: relative;
  pointer-events: none;
}
#pagination{
  pointer-events: none;
}

 .paginationjs-go-input {
  position: absolute;
  top: -53px;
  left: 445px;
  pointer-events: auto;
 }

 .paginationjs-go-button{
  position: absolute;
  top: -53px;
  left: 491px;
  pointer-events: auto;
 }