body{
    color: white;
    background-color: black;
}

div#g{
    border: 2px solid white;
    resize: both;
    overflow: auto;
    height: 65vh;
    width: 90vw;
}

div#g img{
    width: 100%;
    margin: auto;
}