div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    cursor: pointer;
    width: 32%;
}
div#g{
  display: flex;
  flex-wrap: wrap;
  min-width: 720px;
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
  word-break: break-word;
}
body{
  color: white;
  background-color: black;
}
.paginationjs-pages {
  float: left;
  position: absolute;
  top: 138px;
  left: 43%;
  pointer-events: auto;
}
.paginationjs-go-input {
 position: absolute;
 top: 105px;
 left: 45%;
 pointer-events: auto;
}

.paginationjs-go-button{
 position: absolute;
 top: 105px;
 left: calc(45%  + 35px);
 pointer-events: auto;
}

.bottom .paginationjs .paginationjs-pages li>a {
  background: black
}
.bottom .paginationjs .paginationjs-pages li.disabled>a{
  opacity: 0.6;
}

@media only screen and (max-width: 740px){
  .paginationjs-pages {
    left: 314px;
  }
  .paginationjs-go-input {
   left: 325px;
  }
  
  .paginationjs-go-button{
   left: 362px;
  }
}


.paginationjs{
  pointer-events: none;
}
.paginationjs-pages, .paginationjs{
  min-width: 740px;
}
#pagination{
  pointer-events: none;
}


div.tags-container{
  color: black;
  margin-top: 10px;
}

div.search-container{
  margin-top: 10px;
}

.select2-dropdown{
  color: black;
}


.checkboxes label {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
}
.checkboxes input {
vertical-align: middle;
}
.checkboxes label span {
vertical-align: middle;
color: white;
}