
  
  #titlebar {
    display: block;
    position: fixed;
    height: 32px;
    width: calc(100% - 2px); /*Compensate for body 1px border*/
    background: #254053;
  }
  
  #main {
    height: 90vh;
    margin-top: 32px;
    padding: 20px;
    overflow-y: auto;
    position: relative;
  }

  body{
    border: 1px solid black;
    margin: 0px;
    overflow-y: hidden;
  }